@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;
@use '@/styles/mixins.scss' as ms;

.pagination {
  @include ms.flex-row-space-between();

  &-page-control {
    @include ms.flex-row-space-between();
    width: 100%;
    max-width: 324px;
  }

  &-limit-selector {
    @include ms.flex-row-space-between();
    gap: rem(6);
  }

  &-btn-prev,
  &-btn-next {
    width: 44px;
    height: 36px;
    background: transparent;
    border: rem(1) solid black;
    border-radius: 8px;
    @include ms.flex-row-center();
    padding: 0;
  }

  &-limit-control,
  &-limit-selector {
    @include ms.flex-row-space-between();
    gap: rem(16);
  }

  @include ms.respond-down-to(sm) {
    flex-direction: column;
    &-limit-control {
      order: 1;
      margin-bottom: rem(24);
    }
    &-page-control {
      order: 2;
    }
  }
  @include ms.respond-down-to(xxs) {
    &-limit-control {
      flex-direction: column;
    }
  }
}
