@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;
@use '@/styles/mixins.scss' as ms;

.pagination {
  @include ms.flex-row-space-between();
  font-size: clamp(rem(10), 4vw, rem(12));

  &__page-control {
    @include ms.flex-row-space-between();
    width: 100%;
    max-width: 324px;
  }

  &__limit-selector {
    @include ms.flex-row-space-between();
    gap: rem(6);
  }

  &__btn-prev,
  &__btn-next {
    width: 44px;
    height: 36px;
    background: transparent;
    border: rem(1) solid $color-border-light;
    border-radius: 8px;
    @include ms.flex-row-center();
    padding: 0;
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-bg-light-hover;
    }

    &:disabled {
      opacity: 0.5;
      &:hover {
        background-color: transparent;
      }
    }
  }

  &__page {
    cursor: pointer;
    width: fit-content;
    height: auto;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    padding: rem(10) rem(15);

    &:hover:not(&._state_dots) {
      background-color: $color-pagination-bg-hover;
    }

    &_state_active {
      background-color: $color-pagination-bg-active;
      pointer-events: none;
    }

    &_state_dots {
      cursor: default;
      pointer-events: none;
    }

    @include ms.respond-down-to(sm) {
      padding: rem(10) rem(15);
    }
  }

  &__limit-control,
  &__limit-selector {
    @include ms.flex-row-space-between();
    gap: rem(16);
  }

  @include ms.respond-down-to(sm) {
    flex-direction: column;

    &__limit-control {
      order: 1;
      margin-bottom: rem(24);
    }

    &__page-control {
      order: 2;
    }
  }

  @include ms.respond-down-to(xxs) {
    &__limit-control {
      flex-direction: column;
    }
  }
}
