@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;
@use '@/styles/mixins.scss' as ms;

.pagination {
  @include ms.flex-row-space-between();
  font-size: clamp(rem(10), 4vw, rem(12));

  &-page-control {
    @include ms.flex-row-space-between();
    width: 100%;
    max-width: 324px;
  }

  &-limit-selector {
    @include ms.flex-row-space-between();
    gap: rem(6);
  }

  &-btn-prev,
  &-btn-next {
    width: 44px;
    height: 36px;
    background: transparent;
    border: rem(1) solid $color-border-light;
    border-radius: 8px;
    @include ms.flex-row-center();
    padding: 0;
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-bg-light-hover;
    }
  }

  &-page {
    cursor: pointer;
    width: fit-content;
    height: auto;
    text-align: center;
    line-height: 1.5;
    border-radius: 10px;
    padding: rem(10) rem(15);

    &:hover {
      background-color: $color-pagination-bg-hover;
    }

    &--active {
      background-color: $color-pagination-bg-active;
    }

    @include ms.respond-down-to(sm) {
      padding: rem(10) rem(15);
    }
  }

  &-limit-control,
  &-limit-selector {
    @include ms.flex-row-space-between();
    gap: rem(16);
  }

  @include ms.respond-down-to(sm) {
    flex-direction: column;
    &-limit-control {
      order: 1;
      margin-bottom: rem(24);
    }
    &-page-control {
      order: 2;
    }
  }
  @include ms.respond-down-to(xxs) {
    &-limit-control {
      flex-direction: column;
    }
  }
}
