@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.input-wrapper {
  @include ms.flex-row-space-between();
  padding: rem(16) rem(24);
  border-radius: 10px;
  width: 100%;
  height: auto;
  // max-width: calc(rem(300) - (rem(24) + rem(24) + rem(2)));
  border: rem(1) solid $color-border-light;
  transition: all 0.2s ease;
  background-color: $color-bg-main;
  cursor: text;

  &:focus-within {
    background-color: $color-bg-light-hover;

    svg path {
      stroke: $color-text-dark;
    }
  }
}

.input {
  font-size: clamp(rem(14), 4vw, rem(16));
  font-weight: 500;
  line-height: 1.3;
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
}
