@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  src: url('@/assets/fonts/gothampro.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 600;
  font-style: normal;
  src: url('@/assets/fonts/gothampro_medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-style: normal;
  src: url('@/assets/fonts/gothampro_bold.ttf') format('truetype');
  font-display: swap;
}
