@font-face {
  font-family: 'Gotham Pro';
  font-weight: 300;
  font-style: normal;
  src: url('@/assets/fonts/GothamPro-Light.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 400;
  font-style: normal;
  src: url('@/assets/fonts/GothamPro-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 500;
  font-style: normal;
  src: url('@/assets/fonts/GothamPro-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 600;
  font-style: normal;
  src: url('@/assets/fonts/GothamPro-SemiBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 700;
  font-style: normal;
  src: url('@/assets/fonts/GothamPro-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gotham Pro';
  font-weight: 800;
  font-style: normal;
  src: url('@/assets/fonts/GothamPro-Black.ttf') format('truetype');
  font-display: swap;
}
