// --------Breakpoints для media--------
$breakpoints: (
  xxs: 345px,
  xs: 450px,
  sm: 690px,
  md: 768px,
  lg: 920px,
  xl: 1200px,
  xxl: 1400px,
);
// --------------------------------------

// --------Основные цвета, отступы и прочее--------
$color-dp-range-day: #33d35e;
$color-dp-range-between: #c3fcd2;

$color-primary: #0e0e10;
$color-accent: #33d35e;
$color-success: #24c14e;
$color-success-dark: #16b240;
$color-bg-main: #ffffff;
$color-bg-light: #f0f0f7;
$color-bg-light-alt: #ebeefc;
$color-bg-light-hover: #f1f4fd;
$color-bg-medium-hover: #ebeefc;

$color-text-light: #f1f4fd;
$color-text-medium: #55555c;
$color-text-dark: #0e0e10;

$color-border-light: #d3d3de;
$color-border-medium: #55555c;
$color-border-dark: #0e0e10;
$color-border-bubble: #0e0e101a;

$color-placeholder: #ccc;
$color-placeholder-light: #f1f4fd;

$color-icon: #93939b;

// ------------------------------------------------

// --------Глобальные значения--------
$transition-fast: 0.2s ease;
$transition-slow: 0.3s ease;
// ------------------------------------------------
