@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.custom-select-pagination {
  position: relative;
  width: 100%;
  height: 36px;

  .select-pagination-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(10) rem(16);
    border: 1px solid $color-border-light;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: clamp(rem(14), 4vw, rem(16));
    color: $color-text-dark;
    user-select: none;
    height: calc(36px - 20px);
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-bg-light-hover;
    }
  }

  .select-pagination-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }

  .select-pagination-arrow {
    margin-left: 8px;
    color: $color-text-medium;
    font-size: 12px;
  }

  .select-pagination-dropdown {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style: none;

    .select-pagination-option {
      text-align: center;
      padding: rem(16);
      cursor: pointer;
      color: #333;
      font-size: clamp(rem(14), 4vw, rem(16));

      &:hover {
        background-color: $color-bg-light-hover;
      }

      &.is-selected {
        background-color: $color-bg-light-hover;
        font-weight: 500;
      }
    }
  }
}
