@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.custom-select {
  font-family: inherit;
  position: relative;
  width: 100%;

  .select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16);
    border: 1px solid $color-border-light;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    font-size: clamp(rem(14), 4vw, rem(16));
    font-weight: 400;
    font-family: inherit;
    color: $color-text-dark;
    user-select: none;
    height: calc(56px - 34px); // 34px = 2 * 16(padding) + 2 * 1(border)
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-dropdown-bg-hover;
    }
  }

  .select-value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
  }

  .select-placeholder {
    color: $color-dropdown-text-placeholder;
  }

  .select-arrow {
    margin-left: 8px;
    color: $color-text-medium;
    font-size: 12px;
  }

  .select-dropdown {
    padding: rem(6);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: $color-dropdown-items-bg;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin: 0;
    list-style: none;

    .select-option {
      border-radius: 8px;
      padding: rem(10) rem(16);
      cursor: pointer;
      background-color: $color-dropdown-item-bg;
      font-size: clamp(rem(14), 4vw, rem(16));
      margin-bottom: 1px;

      &:hover {
        background-color: $color-dropdown-item-bg-hover;
      }

      &.is-selected {
        background-color: $color-dropdown-item-bg-hover;
      }
    }
  }
}
