@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.select {
  font-family: inherit;
  position: relative;
  width: 100%;

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: rem(16);
    border: 1px solid $color-border-light;
    border-radius: 10px;
    background-color: $color-bg-main;
    cursor: pointer;
    font-size: clamp(rem(14), 4vw, rem(16));
    font-weight: 400;
    color: $color-text-dark;
    user-select: none;
    height: calc(56px - 34px); // 2*16(padding) + 2*1(border)
    transition: all 0.2s ease;

    &:hover {
      background-color: $color-dropdown-bg-hover;
    }
  }

  &__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;

    &_state_placeholder {
      color: $color-dropdown-text-placeholder;
    }
  }

  &__arrow {
    margin-left: 8px;
    color: $color-text-medium;
    font-size: 12px;
  }

  &__dropdown {
    padding: rem(6);
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: $color-dropdown-items-bg;
    border-radius: 10px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    margin: 0;
    list-style: none;
  }

  &__option {
    border-radius: 8px;
    padding: rem(10) rem(16);
    cursor: pointer;
    background-color: $color-dropdown-item-bg;
    font-size: clamp(rem(14), 4vw, rem(16));
    margin-bottom: 1px;

    &:hover,
    &_state_selected {
      background-color: $color-dropdown-item-bg-hover;
    }
  }
}
