@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;
@use '@/styles/mixins.scss' as ms;

.filter {
  @include ms.flex-row-space-between();
  width: 100%;
  gap: rem(16);

  @include ms.respond-down-to(lg) {
    flex-direction: column;
  }

  &__field {
    flex: 1; // чтобы оба селектора и календарь занимали одинаковое пространство
    min-width: 0; // отключает ограничение на сжатие элемнтов

    @include ms.respond-down-to(lg) {
      flex: none;
      width: 100%;
    }
  }
}
