@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;
@use '@/styles/mixins.scss' as ms;

.calendar-input-wrapper {
  @include ms.flex-row-space-between();
  border-radius: rem(10);
  width: 100%;
  max-height: 56px;
  border: rem(1) solid $color-border-light;
  transition: all 0.2s ease;
  background-color: $color-bg-main;
  cursor: auto;

  &:focus-within {
    background-color: $color-bg-light-hover;
  }

  svg {
    padding: rem(16) rem(24) rem(16) 0;
  }
}
