@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.flatpickr-calendar {
  width: fit-content;
  padding: rem(24);
  background-color: $color-bg-light-hover;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.1);

  &.arrowTop:after {
    border-bottom-color: transparent;
  }
}

.flatpickr-input {
  font-size: clamp(rem(14), 4vw, rem(16));
  padding: rem(16) 0 rem(16) rem(24);
  font-weight: 500;
  line-height: 1.3;
  border: none;
  width: 100%;
  outline: none;
  background-color: transparent;
}

.flatpickr-day {
  border-radius: 0;

  &.startRange.startRange,
  &.endRange.endRange {
    background-color: $color-dp-range-day;
    border-color: $color-dp-range-day;
    border-radius: 0;
  }

  &.selected.startRange + .endRange:not(:nth-child(7n + 1)),
  &.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
  &.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
    box-shadow: -10px 0 0 $color-dp-range-day !important;
    -webkit-box-shadow: -10px 0 0 $color-dp-range-day !important;
  }

  &.inRange {
    background: $color-dp-range-line;
    border-color: $color-dp-range-line;
    border-radius: 0;
    -webkit-box-shadow:
      -5px 0 0 $color-dp-range-line,
      5px 0 0 $color-dp-range-line;
    box-shadow:
      -5px 0 0 $color-dp-range-line,
      5px 0 0 $color-dp-range-line;
  }

  &:hover {
    background-color: $color-dp-range-line;
    border-color: $color-dp-range-line;
  }

  &.today {
    border-color: $color-dp-range-day;

    &:hover {
      background-color: $color-dp-range-day;
      border-color: $color-dp-range-day;
    }
  }
}

.flatpickr-current-month {
  line-height: 1.3;
  & span.cur-month {
    font-weight: 500;
    font-size: clamp(rem(14), 4vw, rem(16));
    &:hover {
      background-color: transparent;
    }
  }

  & .numInputWrapper {
    &:hover {
      background: transparent;
    }
  }

  & input.cur-year {
    font-size: clamp(rem(14), 4vw, rem(16));
    cursor: auto;
  }
}

.flatpickr-months {
  & .flatpickr-month {
    margin-bottom: rem(10);
    height: rem(40);
  }

  & .flatpickr-prev-month.flatpickr-prev-month {
    top: rem(24);
    left: rem(24);
  }

  & .flatpickr-next-month.flatpickr-next-month {
    top: rem(24);
    right: rem(24);
  }

  & .flatpickr-next-month:hover,
  & .flatpickr-prev-month:hover {
    svg {
      fill: transparent;
    }
  }
}
