@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;
@use '@/styles/mixins.scss' as ms;

.dp--tp-wrap,
.dp__selection_preview {
  display: none;
}

.dp__theme_light {
  --dp-primary-color: #33d35e;
  --dp-hover-color: #c3fcd2;
}

.dp__range_end,
.dp__range_start {
  border-radius: 0;
}

.dp__action_buttons {
  flex: auto;
  justify-content: space-between;
}

.dp__today {
  border-radius: 0;
}

.dp__input {
  padding: rem(16) rem(30) rem(16) rem(35);
  border-radius: 10px;
  font-size: clamp(rem(14), 4vw, rem(16));
  transition: all 0.2s ease;
  border-color: $color-border-light;
  height: 56px;
  font-family: inherit !important;

  &:hover:not(.dp__input_focus) {
    background-color: $color-bg-light-hover;
  }
}

// Переопределение placeholder
.dp__input::placeholder {
  color: $color-dropdown-text-placeholder !important;
  font-family: inherit !important;
  font-size: clamp(rem(15), 4vw, rem(17)) !important;
  font-weight: 400 !important;
  opacity: 1 !important;
}

.dp__date_hover:hover {
  border-radius: 0;
}

.dp__action_buttons .dp__action_select {
  background-color: $color-primary;
  font-size: clamp(rem(14), 4vw, rem(16));
  padding: rem(10) 0;
  width: 100%;
  height: auto;
  max-width: 90px;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid $color-primary;
  &:hover {
    background-color: $color-accent;
    border-color: $color-accent;
  }
}

.dp__action_cancel {
  font-size: clamp(rem(14), 4vw, rem(16));
  padding: rem(10) 0;
  width: 100%;
  height: auto;
  max-width: 90px;
  justify-content: center;
  border-radius: 10px;
  border-color: $color-border-medium;
  &:hover {
    border-color: $color-border-dark;
  }
}
