@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.table {
  width: auto;
  overflow-x: auto; // для адаптивности на мобильных
  margin: 20px 0;
  padding: rem(24);
  position: relative;
  background-color: #fff;

  table {
    position: relative;
    width: 100%;
    border-collapse: collapse; // отключает дефолтный отступ между ячейками
    font-size: clamp(rem(14), 2.5vw, rem(16));
    color: $color-text-dark;
    overflow: hidden;
    border: none;
  }

  th,
  td {
    padding: 12px 16px;
    text-align: left;
    // border-bottom: 1px solid #e0e0e0;
    border: none;
  }

  thead {
    background-color: $color-bg-light;
    position: sticky;
    top: 0;

    th {
      font-weight: 600;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: $color-bg-light-hover;
      }
    }
  }

  tbody tr {
    transition: background-color 0.2s;
    border-bottom: 1px solid #0e0e101a;

    // &:nth-child(even) {
    // background-color: #fafafa;
    // }

    // &:hover {
    // background-color: #f0f7ff;
    // }
  }

  // Стрелки сортировки
  // .sort-indicator {
  // margin-left: 6px;
  // font-size: 12px;
  // color: #666;
  // }
}
