@use '@/styles/variables.scss' as *;
@use '@/styles/function.scss' as *;

.table {
  width: auto;
  overflow-x: auto; // для адаптивности на мобильных
  margin: 20px 0;
  padding: rem(24);
  position: relative;
  background-color: #fff;

  table {
    position: relative;
    width: 100%;
    border-collapse: collapse; // отключает дефолтный отступ между ячейками
    font-size: clamp(rem(14), 2.5vw, rem(16));
    color: $color-text-dark;
    overflow: hidden;
    border: none;
  }

  th,
  td {
    padding: rem(13.5) rem(16);
    text-align: left;
    border: none;
    line-height: 1.3;
  }

  thead {
    background-color: $color-bg-light;
    position: sticky;
    top: 0;

    th {
      font-weight: 600;
      cursor: pointer;
      user-select: none;
      transition: background-color 0.2s;

      &:hover {
        background-color: $color-bg-light-hover;
      }

      .table-sell {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      p {
        margin: 0;
        width: calc(100% - rem(16));
      }
    }
  }

  tbody tr {
    transition: background-color 0.2s;
    border-bottom: 1px solid #0e0e101a;

    td {
      font-size: clamp(rem(12), 2.5vw, rem(14));
      height: auto;
      white-space: normal; // ← по умолчанию, но если где-то стоит nowrap — убери!
      word-wrap: break-word;
      overflow-wrap: break-word;
    }
  }

  .sort-arrows {
    width: rem(16);
    height: rem(16);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: rem(5px);
    font-size: clamp(rem(14), 4vw, rem(16));
    line-height: 1;
    gap: rem(2px);

    .arrow {
      height: 50%;
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      font-size: 12px;
      transition: color 0.2s ease;
    }

    .active {
      svg path {
        stroke: $color-text-dark;
      }
    }

    .inactive {
      svg path {
        stroke: $color-icon;
      }
    }
  }
}

.table-bubble-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: rem(4);
}
